@if (data) {
  <div class="box" style="position: relative;">
    @if(showButton) {
      <button
        class="delete is-small"
        style="position: absolute; top: 0.5rem; right: 0.5rem;">
      </button>
    }

    @if (type === "VIDEO") {
      <div [innerHTML]="data"></div>
    } @else if (type === "IMAGE") {
      <figure class="image is-16by9">
        <img [src]="data" />
      </figure>
    } @else {
      <div style="max-height: 200px; overflow-y: auto">
        <p>{{ data }}</p>
      </div>
    }
  </div>
}
