// Set your brand colors
// COMMENT

$custom-primary: #0d3b66;
$custom-link: #a8dadc;
$custom-info: #8338ec;
$custom-success: #b5e48c;
$custom-warning: #ee964b;
$custom-danger: #f95738;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $primary: $custom-primary,
  $link: $custom-link,
  $info: $custom-info,
  $success: $custom-success,
  $warning: $custom-warning,
  $danger: $custom-danger,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");