<app-navbar></app-navbar>

<section class="section">
    <div class="container">
      <div class="box">
        <h1 class="title is-4">{{ subscription.magazine.name }}</h1>
        <p class="subtitle is-6">Autor: {{ subscription.magazine.author.username }}</p>
        <button
            *ngIf="subscription.magazine.canLike"
            class="button is-danger is-light mb-2"
            (click)="toggleLike(subscription)"
          >
            {{ subscription.isLike ? 'Ya te gusta' : 'Me gusta' }}
          </button>
  
        <div class="columns is-multiline">
          <div class="column is-12-tablet is-6-desktop">
            <p><strong>Descripción:</strong> {{ subscription.magazine.description }}</p>
            <p><strong>Tipo:</strong> {{ subscription.magazine.type === 'PAID' ? 'De Pago' : 'Gratis' }}</p>
            <p *ngIf="subscription.magazine.type === 'PAID'"><strong>Precio:</strong> Q{{ subscription.magazine.price }}</p>
            <p><strong>Fecha de Suscripción:</strong> {{ subscription.dateCreated }}</p>
            <p><strong>Válido hasta:</strong> {{ subscription.dateEnded }}</p>
          </div>

          <div class="column is-12-tablet is-6-desktop">
            <strong>Documentos:</strong>
            <div class="buttons mt-2 is-flex-wrap-wrap">
              <a
                *ngFor="let doc of subscription.magazine.documents, let i = index"
                class="button is-info is-small"
                [href]="doc.path | document"
                target="_blank"
              >
                Ver Documento {{ i + 1}}
              </a>
            </div>
          </div>
        </div>
  
        <hr />
  
        <div class="is-flex is-align-items-center is-flex-wrap-wrap" style="gap: 1rem;">
          
          <div *ngIf="subscription.magazine.canComment" class="field is-flex-grow-1">
            <label class="label">Comentario</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Escribe tu comentario..."
                [(ngModel)]="commentText"
              ></textarea>
            </div>
            <button class="button is-primary mt-2" (click)="sendComment(subscription)">
              Enviar Comentario
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  