<app-navbar></app-navbar>
<div class="container">
    <div class="box">
      <h2 class="title is-3 has-text-centered">Perfil de: {{username}}</h2>
  
      <!-- Imagen de perfil -->
      <div class="has-text-centered">
        <figure class="image is-128x128 is-inline-block" *ngIf="userProfileAll.photo_path.length > 0">
          <img class="is-rounded" [src]="userProfileAll.photo_path | image" appNotProfile alt="profile image" />
        </figure>
        
        <input 
          type="file" 
          accept=".jpg, .jpeg, .png" 
          (change)="onFileSelected($event)" 
          style="display: none" 
          #fileInput />
  
        <div>
          <br><br>
          <button class="button is-primary mt-3" (click)="fileInput.click()">Seleccionar Imagen</button>
        </div>
  
        <div *ngIf="selectedPreviewImage" class="preview-container">
          <figure class="image is-64x64">
            <img [src]="selectedPreviewImage" alt="Imagen seleccionada" />
          </figure>
          <p>Vista previa de la imagen seleccionada</p>
        </div>
  
        <div *ngIf="selectedFile">
          <button (click)="onUpload()" class="button is-success mt-3">Actualizar Foto</button>
        </div>
  
        <p *ngIf="errorMessage" class="help is-danger">{{ errorMessage }}</p>
      </div>
  
      <!-- Formulario de datos -->
      <div class="columns mt-6">
        <div class="column is-half is-offset-one-quarter">
          <div class="box">
            <h3 class="title is-5">MI INFORMACIÓN</h3>
            <form [formGroup]="profileForm">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input class="input" type="text" formControlName="name">
                </div>
                <p class="help is-danger" *ngIf="profileForm.get('name')?.touched && profileForm.get('name')?.hasError('required')">
                  El campo Nombre no puede estar vacío.
                </p>
              </div>
  
              <div class="field">
                <label class="label">Edad</label>
                <div class="control">
                  <input class="input" type="number" formControlName="age">
                </div>
                <p class="help is-danger" *ngIf="profileForm.get('age')?.touched && profileForm.get('age')?.hasError('required')">
                  El campo Edad no puede estar vacío.
                </p>
                <p class="help is-danger" *ngIf="profileForm.get('age')?.touched && profileForm.get('age')?.hasError('min')">
                  La edad debe ser mayor o igual a 0.
                </p>
              </div>
  
              <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                  <textarea class="textarea" formControlName="description"></textarea>
                </div>
                <p class="help is-danger" *ngIf="profileForm.get('description')?.touched && profileForm.get('description')?.hasError('required')">
                  El campo Descripción no puede estar vacío.
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <!-- Botón guardar cambios -->
      <div class="has-text-centered mt-5">
        <button 
          class="button is-primary" 
          [disabled]="!profileForm.touched || profileForm.invalid" 
          (click)="saveChanges()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
  