<br><br>

<div class="container">
    <h1 class="title has-text-primary">¡Bulma está funcionando!</h1>
    <br>
    <button class="button is-primary">Botón primary</button>
    <button class="button is-link">Botón link</button>
    <button class="button is-info">Botón info</button>
    <button class="button is-success">Botón success</button>
    <button class="button is-warning">Botón warning</button>
    <button class="button is-danger">Botón danger</button>
    <br><br>
    <p class="notification is-info">Esta es una notificación de Bulma.</p>
</div>
  